*{
    margin: 0;
    padding: 0;
}

body{
    background: #262626;
}

.main-content{
    position: absolute;
    width: 305px;
    top: 10%;
    left: 40%;
}

.form-title{
    font-size: 30px;
    border-bottom: 1px solid #325D88;;
    margin-bottom: 25px;
    padding-bottom: 5px;
    color: #325D88;;
}

#particles-js{
    position: relative;
    background: #262626;
    height: 100%;
}