*{
    margin: 0;
    padding: 0;
}

body{
    background: #2a383e;
}

.main-content{
    margin: 5% auto;
}

.form-title{
    font-size: 30px;
    border-bottom: 1px solid #325D88;;
    margin-bottom: 25px;
    padding-bottom: 5px;
    color: #325D88;;
}