*{
    margin: 0;
    padding: 0;
}

.avatar {
    width: 35px;
    border-radius: 50%;
}

body{
    background-color:#f2f7f9;
}

.card_avatar{
    width: 80px;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 33%;
}

.clear{
    clear: both;
}

.follow_tag{
    display: inline-table;
    width: 49%;
    text-align: center;
    cursor: pointer;
}

.follow_tag:hover{
    color: #325D88;
}

.m-avatar{
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.img-post{
    max-width: 100%;
    margin: 0 auto;
}

.inline{
    display: inline;
}

.time-comment{
    font-size: 11px;
}