<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/sandstone/bootstrap.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/login_style.css}">
</head>
<body>
    <div class="container">
        <div class="card border-primary mb-3 main-content" style="max-width: 30rem;">
            <div class="card-body">
                <h2 class="form-title">Login</h2>
                <form>
                    <fieldset>
                        <div class="form-group">
                            <label for="username">Your Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter Username">
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">

                            <a href="/register">Create an acount</a>
                        </div>


                        <button type="submit" class="btn btn-primary">Login</button>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</body>
</html>